@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap'); #mainh1{ color: yellow; font-family: 'Redressed', курсив; }



button {
  background: white;
  width: 50%;
  border: solid 2px black;
  padding: .375em 1.125em;
  margin-top: 0.1em;
  font-size: 1rem;
 opacity:0; /*Элемент полностью прозрачный (невидимый)*/
transition: 1s; /*Скорость перехода состояния элемента*/
animation: show 3s 1; /* Указываем название анимации, её время и количество повторов*/
animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
animation-delay: 2s; /* Задержка перед началом */

}

@keyframes show{
0%{
opacity:0;
}
100% {
opacity:1;
}
}

.letter_btn {
  padding: 0.5em 1.5em; /* Поля по вертикали и горизонтали */
    font-size: 2em; /* Размер текста */
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    color: #fff; /* Белый цвет текста */
    background-color: #67ada9; /* Цвет фона кнопки */
    border-width: 0; /* Убираем рамку */
    border-radius: 0.4em; /* Радиус скругления */
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.8)
    
  
}

.letter_btn:hover,
.letter_btn:focus {
  background-color: #265b58; /* Цвет фона кнопки */
  cursor:pointer;
}

@media screen and (orientation: portrait) {
    button {
  width: 99%;
}

.letter_btn:focus {
  background-color: #265b58; /* Цвет фона кнопки */
  cursor:pointer;
}
}

